body {
  width: 100%;
  height: 100%;
  background-image: url(bg.jpg);
  background-size: 100%;
  margin: 0;
  padding: 0;

}
.wrapper {
  width: 50%;
  margin: auto;
}
}
.social-bar .sub-dot {
	width: 4px;
	height: 4px;
	border-radius: 50%;
  position: absolute;
  right: 265px;
  top: 25px;
}
.social-bar ul div {
	width: 4px;
	height: 4px;
	border-radius: 50%;
  float: left;
}

.social-bar {
  width: 100%;
  position: relative;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.social-bar li {
  display: inline-block;
  width: 23.429%;
  dding-top: 5px;
}
.social-bar li img {
  width: 43px;
  height: 43px;
  padding: 0px;
}

.social-bar p {
  width: 8%;
  position: absolute;
  right: 270px;
  top: 10px;
  margin: 2px 0 0 0;
  color: white;
  font-size: 10px;
}
.social-bar ul {
  width: 190px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0px;
  padding: 0;
  margin: 0
}





nav {
  width: 100%;
  margin:auto;
  margin-bottom: 10px;
}
nav li{
  width: 24.53%;
  display: inline-block;
  margin: auto;
  background-color: red;
  text-align: center;
  color: white;

}
nav ul {
  width:100%;
  margin: 5px 0;
  padding: 0;
}
header {
  width: 98.4%;
  margin: auto;
  background-image: url(top-image.png);
  height: 240px;
  background-size:100%;
  background-position: center;
  border-style: solid;
  border-width: thick;
  border-color: white;

}
h1 {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 8px;
}
h1 .dot {
  background: #000000;
	width: 10px;
	height: 10px;
	border-radius: 50%;
  display: inline-block;
}




/*
.container1 {
  width: 60%;
  height: 250px;
  margin: auto;
  padding-right:  50px;
}
.container1 section {
  width: 233px;
  height: 100%;
    vertical-align: top;
  display: inline-block;
  background-color: white;

}
.container1 section h3 {
  height: 30%;
  padding: 20px 20px 2px 20px;
  margin: 0;
}
.container1 p {
  margin: 10px 20px 10px 20px;
  height: 80px;
}

.container1 .col2 {
  margin-left: 5px;
  margin-right: 5px;
}
.container1 article {
  font-size: 10px;
  width: 80px;
  margin-left: 20px;
}
.container1 footer {
  text-align: center;
  color: red;
}*/




.container1 {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}
.container1 section {
  width: 32.91%;
    vertical-align: top;
  display: inline-block;
  background-color: white;

}
.container1 section h3 {

  padding: 8% 10% 8% 10%;
  margin: 0;
  font-size: 105%;
}
.container1 p {
  margin: 10px 20px 10px 20px;

}
.container1 .col3 p {
  padding-top: 20px;
}

.container1 article {
  font-size: 10px;

  margin-left: 20px;
}
.container1 footer {
  text-align: center;
  color: red;
}





/*container2 pics */
/*
.lance-mountain {
  background-image: image(sk8er-4.png);
}
.rodney-mullen {
  background-image: image(sk8er-3.png);
}
.steve-caballero {
  background-image: image(sk8er-1.png);
}
.tommy-guerrero {
  background-image: image(sk8er-2.png);
}*/

.container2 {
  width: 100%;
  height: 431px;
  margin: auto;
  margin-bottom: 15px;
}
.container2 .col1 {
  width: 70%;
}

.container2 .inline-image {
  width:100%;
  height: 49%;
}
.container2 .col1 img {
  width: 48%;
  height: 100%;
  border: solid white;
}
.block-image {
  width: 100%;
  height: 51%;
}
.container2 .block-image img {
  width: 100%;
}

.container2 section {
  width: 29%;
  height: 431px;
  vertical-align: top;
  float: left;
}

.container2 .col2 img {
  width: 100%;
  height: 100%;
  border: solid white;
}
/*end container2 */

.container3 {
  background-color: white;
  width: 100%;
  margin: auto;
}
.container3 img {
  width: 6.4%;
  margin: 1.5%;
}



/*
.triangle {
  background: red;
    display: inline-block;
    height: 50px;
    margin-left: px;
    margin-bottom: 55px;
      position: relative;
      width: 100px;
      float: left;
}*/

.footer {
  background-color: white;
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

.footer .contact {
  width:100%;
  background-color: white;
  display: inline-block;
}
.footer .left   {
width: 49%;
}
.footer .left h3 {
  padding: 8% 5% 2% 7%;
}
.footer .right{
  width: 49%;

}

/*
.triangle::before {
  width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid red;
	border-bottom: 50px solid transparent;
}*/


@media (max-width:400px) {

  body {
    background: url(bg.jpg) center center cover no-repeat;
    background-size: 156%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
  }
  .wrapper {
    width: 65%;
    margin: auto;
}
  .social-bar {
    display: none;
  }

  nav li {
    width: 97%;
    background-color: red;
    text-align: center;
    color: white;
    margin: 2% 0;
    border: solid;
  }
  header {
    width: 97%;
    height: 122px;
    border: solid white;
  }
  h1 .dot {
   width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  }
  .container1 section {
    width: 100%;
    background-color: white;
    margin: 3% 0;
  }
  .container2 .col1 {
    width: 100%;
  }
  .container2 .col1 img {
    width: 98%;
  }
.container2 .col2 img {
  height: 50%;
}
  .container3 {
    padding-left: 1%;
  }
  .container3 img {
      width: 15.4%;
      margin: 1.5%;
}
.footer .left{
  width: 100%;
}
.footer .right{
  width: 100%;
  text-align: center
}


}
